<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>도움말</title>
    <link rel="stylesheet" href="public/stylesheets/warehousingStyle.css">
    <link rel="stylesheet" href="public/stylesheets/help.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <%- include('nav') %>
    <img src="/public/images/home_bg2.jpg">
    <div class="div-help">
        <ul class="list-feature">
            <li>
                <div class="text">
                    <span class="num">01</span>
                    <h3>기능 1</h3>
                    <h4>ㄱㄴㄷㄹ</h4>
                    <p>설명 설명 설명 설명 설명 설명 설명 설명 설명 설명<br>
                        설명 설명 설명 설명 설명 설명 설명 설명 설명 설명<br>
                        설명 설명 설명 설명 설명 설명 설명 설명 설명 설명</p>
                </div>
                <div class="jpg">
                    <img src="/public/images/home_logo.png" alt="사진 1">
                </div>
            </li>
            <li>
                <div class="text">
                    <span class="num">02</span>
                    <h3>기능 2</h3>
                    <h4>ㄱㄴㄷㄹ</h4>
                    <p>설명 설명 설명 설명 설명 설명 설명 설명 설명 설명<br>
                        설명 설명 설명 설명 설명 설명 설명 설명 설명 설명<br>
                        설명 설명 설명 설명 설명 설명 설명 설명 설명 설명</p>
                </div>
                <div class="jpg">
                    <img src="/public/images/home_logo.png"  alt="사진 2">
                </div>
            </li>
            <li>
                <div class="text">
                    <span class="num">03</span>
                    <h3>기능 3</h3>
                    <h4>ㄱㄴㄷㄹ</h4>
                    <p>설명 설명 설명 설명 설명 설명 설명 설명 설명 설명<br>
                        설명 설명 설명 설명 설명 설명 설명 설명 설명 설명<br>
                        설명 설명 설명 설명 설명 설명 설명 설명 설명 설명</p>
                </div>
                <div class="jpg">
                    <img src="/public/images/home_logo.png" alt="사진 3">
                </div>
            </li>
            <li>
                <div class="text">
                    <span class="num">04</span>
                    <h3>기능 4</h3>
                    <h4>ㄱㄴㄷㄹ</h4>
                    <p>설명 설명 설명 설명 설명 설명 설명 설명 설명 설명<br>
                        설명 설명 설명 설명 설명 설명 설명 설명 설명 설명<br>
                        설명 설명 설명 설명 설명 설명 설명 설명 설명 설명</p>
                </div>
                <div class="jpg">
                    <img src="/public/images/home_logo.png" alt="사진 4">
                </div>
            </li>
            <li>
                <div class="text">
                    <span class="num">05</span>
                    <h3>기능 5</h3>
                    <h4>ㄱㄴㄷㄹ</h4>
                    <p>설명 설명 설명 설명 설명 설명 설명 설명 설명 설명<br>
                        설명 설명 설명 설명 설명 설명 설명 설명 설명 설명<br>
                        설명 설명 설명 설명 설명 설명 설명 설명 설명 설명</p>
                </div>
                <div class="jpg">
                    <img src="/public/images/home_logo.png" alt="사진 5">
                </div>
            </li>
            <li>
                <div class="text">
                    <span class="num">06</span>
                    <h3>기능 6</h3>
                    <h4>ㄱㄴㄷㄹ</h4>
                    <p>설명 설명 설명 설명 설명 설명 설명 설명 설명 설명<br>
                        설명 설명 설명 설명 설명 설명 설명 설명 설명 설명<br>
                        설명 설명 설명 설명 설명 설명 설명 설명 설명 설명</p>
                </div>
                <div class="jpg">
                    <img src="/public/images/home_logo.png" alt="사진 6">
                </div>
            </li>
        </ul>
    </div>
</body>
</html>
