<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AUTOINVEN</title>
  <link rel="stylesheet" href="/public/stylesheets/home.css" />
</head>

<body>
  <div class="main">
    <div class="main_img">
      <img src="/public/images/home_warehouse.jpg" alt="home_warehouse" />
    </div>
    <div class="main_title">
      <img src="/public/images/main_logo.png" alt="main_logo" />
    </div>
  </div>
  <div class="sub">
    <div class="sub1">
      <img src="/public/images/sub1.png" alt="home_warehouse" />
    </div>
    <div class="sub1">
      <img src="/public/images/sub2.png" alt="home_monitor" />
    </div>
    <div class="sub1">
      <img src="/public/images/sub3.png" alt="home_help" />
    </div>
  </div>
</body>

</html>