<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>실시간 창고 확인</title>
    <link rel="stylesheet" href="public/stylesheets/warehousingStyle.css">
    <link rel="stylesheet" href="public/stylesheets/sss.css">
<!--    <link rel="stylesheet" href="public/stylesheets/bootstrap.min.css">-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <%- include('nav') %>

    <div class="table-monitor">
        <div class="sensor">
            <canvas id="chart1" width="350" height="350"></canvas>
            <script>
				$(function() {
					new Chart($('#chart1'), {
						type: 'bar',
						data: {
							labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
							datasets: [{
								data: [6, 4, 13, 9, 19, 5],
                                label: '주문',
								backgroundColor: [
									'rgba(255, 99, 132, 0.2)',
									'rgba(54, 162, 235, 0.2)',
									'rgba(255, 206, 86, 0.2)',
									'rgba(75, 192, 192, 0.2)',
									'rgba(153, 102, 255, 0.2)',
									'rgba(255, 159, 64, 0.2)'
								],
								borderColor: [
									'rgba(255, 99, 132, 1)',
									'rgba(54, 162, 235, 1)',
									'rgba(255, 206, 86, 1)',
									'rgba(75, 192, 192, 1)',
									'rgba(153, 102, 255, 1)',
									'rgba(255, 159, 64, 1)'
								],
								borderWidth: 1
							}]
						},
						options: {
							scales: {
								y: {
									beginAtZero: true
								}
							}
						}
					});
				});
            </script>
        </div>
        <div class="sensor">
            <canvas id="chart2" width="350" height="350"></canvas>
            <script>
				$(function() {
					new Chart($('#chart2'), {
						type: 'doughnut',
						data: {
							labels: [ 'Red', 'Blue', 'Yellow'],
							datasets: [{
								label: '1234',
								data: [300, 50, 100],
								backgroundColor: [
									'rgb(255, 99, 132)',
									'rgb(54, 162, 235)',
									'rgb(255, 205, 86)'
								],
								hoverOffset: 4
							}]
						}
					});
				});
            </script>
        </div>
        <div class="sensor">
            <canvas id="chart3" width="350" height="350"></canvas>
            <script>
				$(function() {
					new Chart($('#chart3'), {
						type: 'line',
						data: {
							labels: [1, 2, 3, 4, 5, 6, 7],
							datasets: [{
								label: '온도',
								data: [13, 10, 8, 15, 19, 18, 15],
								fill: false,
								borderColor: 'orange',
								tension: 0.1
							}]
						},
						options: {
							scales: {
								y: {
									min: 0,
                                    max: 30
								}
							}
						}
					});
				});
            </script>
        </div>
<!--        <div class="sensor">4</div>-->
<!--        <div class="sensor">5</div>-->
<!--        <div class="sensor">6</div>-->
<!--        <div class="sensor">7</div>-->
<!--        <div class="sensor">8</div>-->
<!--        <div class="sensor">9</div>-->
    </div>
</body>
</html>