<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>MyPage</title>
    <link rel="stylesheet" href="public/stylesheets/warehousingStyle.css">
    <link rel="stylesheet" href="public/stylesheets/mypage.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <%- include('nav') %>
    <div class="div-mypage">
        <ul class="list-feature">
            <li>
                <div class="text">
                    <div class="info" id="title">나의 정보</div>
                </div>
            </li>
            <li>

                <div class="text">
                    <div class="info">아이디</div>
                    <div class="data ">id값</div>
                </div>
            </li>
            <li>
                <div class="text">
                    <div class="info">비밀번호</div>
                    <div class="data">pw값</div>
                </div>
            </li>
            <li>
                <div class="text">
                    <div class="info">사용자 이름</div>
                    <div class="data">username값</div>
                </div>
            </li>
            <li>
                <div class="text">
                    <div class="info">이메일 주소</div>
                    <div class="data">email주소</div>
                </div>
            </li>
            <li>
                <div class="text">
                    <div class="info">연락처</div>
                    <div class="data">###-####-####</div>
                </div>
            </li>
        </ul>
    </div>
</body>

</html>
